{% extends 'layout2.html' %} {% block style %}
<!--
查询数据分页显示
-->
<style>
#search {
    padding: 50px 80px;
}

#search #searchForm {
    position: relative;
}

#search #searchForm #message {
    position: absolute;
    top: 6px;
    left: 270px;
    color: #F95555;
    display: none;
}

#search #searchForm .input-group {
    width: 250px;
}

#search #searchForm #submit,#search #searchForm #prepage,#search #searchForm #nextpage {
    cursor: pointer;
    transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
    transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

#search #searchForm #submit:hover {
    background-color: #bbb;
    color: white;
}
#search #searchForm #prepage:hover {
    background-color: #bbb;
    color: white;
}
#search #searchForm #nextpage:hover {
    background-color: #bbb;
    color: white;
}
#search #hot,
#search #searchResult {
    padding-top: 20px;
    padding-bottom: 20px;
}

#search .movie {
    margin-bottom: 30px;
    position: relative;
}

#search .movie .movie_cover {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
}

#search .movie .movie_cover:hover {
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.4);
}

#search .movie .movie_info {
    margin-left: 170px;
}

#search .movie .movie_info a {
    text-decoration: none;
    color: #6FA4CA;
    transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
}

#search .movie .movie_info a:hover {
    color: #24597F;
}

#search .movie .movie_info p {
    color: #555;
    margin-bottom: 0;
    font-size: 12px;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('#header #nav #nav3').addClass('active');

    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav3').addClass('active');
    });
});
</script>
<div id="search">
    
	<div id="selectoptions">
        &nbsp 检测点城市选择：
        <select id="sele" name="sele" onChange="watchModule.map_init(this.value)">  
          <option value="1" >北京</option>  
          <option value="2" selected>合肥</option>  
          <option value="3">广州</option>  
          <option value="4">西安</option>  
          </select> 
          
          &nbsp 燃料类型：
	    <select id="sele2" name="fuel[]">  
        <option value="2015">汽油</option>  
        <option value="2016">柴油</option>  
        <option value="2014">天然气</option>  
        <option value="0">全部</option>  
        </select> 
		   <input type="button" onclick="showOver(sele)" value="查询" />
         时间范围
			 
      </div>
	  <div id="r-result">
	   <span class="input-group-addon">
             &nbsp 起始时间： <input type="date" class="form-control"/>
              </span>
             <span class="input-group-addon"> 结束时间：
			 
                <input type="date" class="form-control"/>
              </span>    
    </div> 
	<div class="form-group" id="searchForm">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="输入关键词">
            <div class="input-group-addon" id="submit">查询<i class="fa fa-fw fa-paper-plane-o"></i></div>
			<div class="input-group-addon" id="prepage">上一页<i class="fa fa-fw fa-paper-plane-o"></i></div>
			<div class="input-group-addon" id="nextpage">下一页<i class="fa fa-fw fa-paper-plane-o"></i></div>
        </div>
        <p id="message">关键词都不给个怎么搜索……</p>
    </div>
	<div class="table-responsive">
				<table class="table table-hover"">
    <thead>
      <tr><th>ID</th><th>title</th><th>rate</th><th>rate</th><th>rate</th><th>rate</th><th>rate</th></tr>
    </thead>
    <tbody>
	{% for item in movies %}
      <tr>
	  <td>{{item.id}}</td>
      <td>{{item.title}}</td>
	  <td>{{item.showtime}}</td>
	  <td>{{item.director}}</td>
	  <td>{{item.category}}</td>
	  <td>{{item.length}}</td>
	  <td>{{item.language}}</td>
      </tr>
	  {% endfor %}
    </tbody>
    </table>
	</div>
   
    <div id="searchResult" style="display:none;">
    </div>
</div>

<script>
var pagecount=0;
var queryfuel= $('#search #sele2').val();
                window.onload=function(){//实现下拉菜单刷新不变
$('#search #sele2').val({{Fuel}});
//queryfuel={{Fuel}};
} 
$(document).ready(function() {

     $('#search #submit').click(function() {
	var fuel = $('#search #sele2').val();
//alert(fuel);
queryfuel=fuel;
        $.ajax({
                url: '{{url_for("query")}}',
                type: 'POST',
                data: {
                    index: pagecount,
                    fuel:fuel
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                fuel = {{Fuel}};
                //alert(fuel);
                window.location.href = '{{url_for("list")}}';
                queryfuel =fuel;
                alert(fuel);

                
                    $('#search #searchResult').empty();
                   $('#search #searchResult').show();
                }
            });
    });
   //$('#search #sele2').val(queryfuel);
    
    /*
    $('#search #submit').click(function() {
	
        var keyword = $('#search input[name="keyword"]').val();
        if (keyword == '') {
            $('#search #message').fadeIn();
            $('#search #hot').show();
            $('#search #searchResult').hide()
        } else {
            $('#search #message').fadeOut();
            $('#search #hot').hide();
            $.ajax({
                url: '{{url_for("keyword")}}',
                type: 'POST',
                data: {
                    keyword: keyword
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    $('#search #searchResult').empty();
                    $('#search #searchResult').show();
                }
            });
        }
    });
    */
	
	$('#search #prepage').click(function() {
	pagecount=pagecount-1;
//alert(pagecount);
	var fuel = $('#search #sele2').val();
//alert(fuel);
queryfuel=fuel;
       $.ajax({
                url: '{{url_for("query")}}',
                type: 'POST',
                data: {
                    index: pagecount,
                    fuel:queryfuel
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
				fuel = {{Fuel}};
                //alert(fuel);
                window.location.href = '{{url_for("list")}}';
                queryfuel =fuel;
                    $('#search #searchResult').empty();
                   $('#search #searchResult').show();
                }
            });
    });
	$('#search #nextpage').click(function() {
	pagecount=pagecount+1;
		var fuel = $('#search #sele2').val();
//alert(fuel);
queryfuel=fuel;
	//alert(pagecount);
       $.ajax({
                url: '{{url_for("query")}}',
                type: 'POST',
                data: {
                    index: pagecount,
                    fuel:queryfuel
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
				fuel = {{Fuel}};
                //alert(fuel);
                window.location.href = '{{url_for("list")}}';
                queryfuel =fuel;
                    $('#search #searchResult').empty();
                    
                   $('#search #searchResult').show();
                }
            });
    });
});
</script>
<script type="text/javascript">
var watchModule = (function () {
	var pagecount=1,
    var 
      sel=2,
      lont =117.237603,lat=31.847239, //地图中心点，经度，纬度
      count = 0,/*用来标志表格中行的数量*/
      markerArr = [
        { title: "合肥黄山路检测点", point: "117.237603,31.847239", address: "69", tel: "12" },
        { title: "五里墩立交桥", point: "117.25715,31.858894", address: "124", tel: "18" },
        { title: "万达广场", point: "117.219206,31.826993", address: "62", tel: "10" },
        { title: "明光路", point: "117.311192,31.875822", address: "90", tel: "14" }
      ],
      aPoints = [],
      aAllPoints = []
      /*建立地图*/
     
    ;
    window.requestAnimationFrame = 
      window.requestAnimationFrame ||
      window.mozRequestAnimationFrame || 
      window.webkitRequestAnimationFrame || 
      window.msRequestAnimationFrame;
    
  
	  
    function map_init(val) {
      count = 0;
      if(val != null) sel = val;
      switch(sel * 1) {
        case 1:
          lont = 116.768419, lat = 39.941051;//地图中心点，经度，纬度
          markerArr = [
//          { title: "妫水南街", point: "115.991874,40.447428", address: "74", tel: "10" },数据似乎有误？调试的时候不出现！
            { title: "三惠东桥", point: "116.719949,39.929264", address: "71", tel: "16" },
            { title: "白庙立交桥", point: "116.768419,39.941051", address: "39", tel: "10" }
         ];break;
        case 2:
          lont =117.237603,lat=31.847239; //地图中心点，经度，纬度
          markerArr = [
            { title: "合肥黄山路检测点", point: "117.237603,31.847239", address: "69", tel: "12" },
            { title: "五里墩立交桥", point: "117.25715,31.858894", address: "124", tel: "18" },
            { title: "万达广场", point: "117.219206,31.826993", address: "62", tel: "10" },
            { title: "明光路", point: "117.311192,31.875822", address: "90", tel: "14" }
          ];break;
        case 3:
        case 4:
          lont=113.312213,lat=23.147267;
          markerArr = [
            { title: "广州火车站", point: "113.264531,23.157003", address: "26", tel: "6" },
            { title: "广州塔（赤岗塔）", point: "113.330934,23.113401", address: "34 ", tel: "5" },
            { title: "广州动物园", point: "113.312213,23.147267", address: "67", tel: "18" },
            { title: "天河公园", point: "113.372867,23.134274", address: "23", tel: "1" }
        ];break;

      }
      /*
       * content: 将内容显示在表格
       * author: yuwanlin
       * */
      setTableContent(markerArr);
      
       map = new BMap.Map("map");
      //第1步：设置地图中心点，合肥市
      var point = new BMap.Point(lont,lat); //地图中心点
      //第2步：初始化地图,设置中心点坐标和地图级别。
      map.centerAndZoom(point, 13);
      //第3步：启用滚轮放大缩小
      map.enableScrollWheelZoom(true);
      //第4步：向地图中添加缩放控件
      var ctrlNav = new window.BMap.NavigationControl({
          anchor: BMAP_ANCHOR_TOP_LEFT,
          type: BMAP_NAVIGATION_CONTROL_LARGE
      });
      map.addControl(ctrlNav);
      //第5步：向地图中添加缩略图控件
      var ctrlOve = new window.BMap.OverviewMapControl({
          anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
          isOpen: 1
      });
      map.addControl(ctrlOve);

      //第6步：向地图中添加比例尺控件
      var ctrlSca = new window.BMap.ScaleControl({
          anchor: BMAP_ANCHOR_BOTTOM_LEFT
      });
      map.addControl(ctrlSca);
                  
      //建立一个自动完成的对象
      var ac = new BMap.Autocomplete({
        "input" : "suggestId",
        "location" : map
      });
     //是否显示路况提示面板
       var ctrl4 = new BMapLib.TrafficControl({
        showPanel: true 
      });      
      map.addControl(ctrl4);
      ctrl4.setAnchor(BMAP_ANCHOR_BOTTOM_RIGHT);
          /*
         var ctrl = new BMapLib.TrafficControl({
              showPanel: true 
          });      
          map.addControl(ctrl);
          ctrl.setAnchor(BMAP_ANCHOR_BOTTOM_RIGHT);*/
      //第7步：绘制点  
      for (var i = 0; i < markerArr.length; i++) {
        markerArr[i].p0 = markerArr[i].point.split(",")[0];/*经度*/
        markerArr[i].p1 = markerArr[i].point.split(",")[1];/*纬度*/
        markerArr[i].label = new window.BMap.Label(markerArr[i].title, { offset: new window.BMap.Size(20, -10) });
        markerArr[i].marker = addMarker(new window.BMap.Point(markerArr[i].p0, markerArr[i].p1), i);
        markerArr[i].marker.index = i;
        markerArr[i].marker.addEventListener( 'click', function(){
          var $tr = $( '#tbody tr' ).eq( this.index );
          $tr.addClass( 'active' ).siblings().removeClass( 'active' );
          $( '#suggestId' ).val( this.index + 1 );
          showDetail(this); 
        });
        markerArr[i].marker.setLabel(markerArr[i].label);
        map.centerAndZoom(new window.BMap.Point(markerArr[i].p0, markerArr[i].p1),13);
        addInfoWindow(markerArr[i].marker, markerArr[i], i); 
      }
    }
    
    function jumpToMap( index ) {
      var 
        point = markerArr[index].point.split( ',' ),
        lng = point[0],
        lat = point[1]
      ;
      map.centerAndZoom( new BMap.Point( lng, lat ),13 );
    }
    
    function searchWatchPoint () {
	pagecount=pagecount+1;
      var value = $( '#suggestId' ).val();
      if ( !/\d+/.test(value) ) {
        alert( '请输入监测点id' );
        $( '#suggestId' ).focus();
        
      }else {
        jumpToMap( (value * 1 - 1) );
        var $tr = $( '#tbody tr' ).eq( value * 1 - 1);
        $tr.find( 'a' ).css( 'color', '#fff' );
        $tr.addClass( 'active' ).siblings().removeClass( 'active' );
      }
	  alert(""+pagecount);
	  $.ajax({
                url: '{{url_for("query")}}',
                type: 'POST',
                data: {
                    index: pagecount
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    $('#search #searchResult').empty();
                    var  movies = data['movies'];
                    var temp = '<p style="margin-bottom:20px;">共<span style="color:#2A9662;margin-left:5px;margin-right:5px;">' + movies.length + '</span>条标题含<span style="color:#FF4949;margin-left:5px;margin-right:5px;">' + keyword + '</span>的电影</p>';
                    $('#search #searchResult').append(temp)
                    for (var i = 0; i < movies.length; i++) {
                        var item = '<div class="movie"><a href="' + movies[i]["url"] + '" target="_blank"><div class="movie_cover" style="background-image:url(' + movies[i]["cover"] + ')"></div></a><div class="movie_info"><h4><a href="' + movies[i]["url"] + '" target="_blank">' + movies[i]["title"] + '</a><span style="color:#44A031;font-size:14px;margin-left:5px;">';
                        if (movies[i]["showtime"] != 0) {
                            item = item + movies[i]["showtime"] + '年';
                        }
                        item = item + '</span><span style="color:#FB5151;font-size:14px;margin-left:5px;">' + movies[i]["rate"] + '分</span></h4><p>导演&nbsp;&nbsp;' + movies[i]["director"] + '</p><p>编剧&nbsp;&nbsp;' + movies[i]["composer"] + '</p><p>主演&nbsp;&nbsp;' + movies[i]["actor"] + '</p><p>类型&nbsp;&nbsp;' + movies[i]["category"] + '</p><p>产地&nbsp;&nbsp;' + movies[i]["district"] + '</p><p>语言&nbsp;&nbsp;' + movies[i]["language"] + '</p><p>片长&nbsp;&nbsp;' + movies[i]["length"] + '分钟</p><p>又名&nbsp;&nbsp;' + movies[i]["othername"] + '</p><h5 style="color:#555;">剧情简介</h5><p style="text-indent:2em;color:#777;">';
                        for (var j = 0; j < movies[i]['description'].length; j++) {
                            item = item + movies[i]['description'][j] + '<br/>';
                        }
                        item = item + '</p></div></div>';
                        $('#search #searchResult').append(item);
                    }
                    $('#search #searchResult').show();
                }
            });
    }
    
    
    function setTableContent (markerArr) {
      var html = '';
      for ( var i = 0, len = markerArr.length; i < len; i++ ) {
        html += ' <tr> '
        + ' <td>'+ ( ++count ) +'</td> '
        + ' <td><a href="javascript:;">'+ markerArr[i]["title"] +'</a></td> '
        + ' <td>'+ markerArr[i]["point"] +'</td> '
        + ' <td>'+ markerArr[i]["address"] +'</td> '
        + ' <td>'+ markerArr[i]["tel"] +'</td> '
        + ' </tr>'
      }
      
      $( '#tbody' ).html( html );
      
      $( '#tbody' ).find( 'a' ).click( function () {
    	  
        $( this ).parents( 'tr' ).addClass( 'active' ).siblings().removeClass( 'active' );
       
        var index = $( this ).parents( 'tr' ).index();
        $( '#suggestId' ).val( index + 1 );
        jumpToMap( index );
      })
      
    }
    
    function showDetail (obj) {
      var 
        lng = obj.getPosition().lng,/*经度*/
        lat = obj.getPosition().lat;/*纬度*/
      ;
      map.centerAndZoom( new BMap.Point( lng,lat ), 13 );
    }

    function mergePoints (aAllPoints,aPoints){
      for(var i = 0, len = aPoints.length; i < len; i++) {
        aAllPoints.push(aPoints[i])
      }
      
      mergePoints.len = ++mergePoints.len || 1;
      if( mergePoints.len === markerArr.length ) {
        addOverlay( aAllPoints );
        mergePoints.len = 0;
      }
      
      return aAllPoints;
    }
    // 添加标注
    function addMarker(point, index) {
        var myIcon = new BMap.Icon("http://api.map.baidu.com/img/markers.png",
            new BMap.Size(23, 25), {
                offset: new BMap.Size(10, 25),
                imageOffset: new BMap.Size(0, 0 - index* 25)
            });
        var marker = new BMap.Marker(point, { icon: myIcon });
        /*
         * content: 在标注的周围模拟添加一组随机点
         * author: yuwanlin
         * 
         */
        map.addOverlay(marker);
        
        var w = new Worker( '{{url_for('static',filename='js/getRandomHeatPointWorker.js')}}' );
        w.postMessage({
          point: point,
          swLng: map.getBounds().getSouthWest().lng,
          neLng: map.getBounds().getNorthEast().lng,
          swLat: map.getBounds().getSouthWest().lat,
          neLat: map.getBounds().getNorthEast().lat
        });
        w.onmessage = function ( ev ) {
          aPoints = ev.data;
          mergePoints( aAllPoints, aPoints );
          
          w.terminate();
        }
        
          
        return marker;
    } 
    
    //是否支持canvas，热力图目前只支持有canvas支持的浏览器
    function isSupportCanvas() {
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }
    
    /* 添加热力图覆盖物 */
    function addHeatmapOverlay(aAllPoints) {
      if(!isSupportCanvas()) {
        alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
      }else {
        /* 初始化热力图 */
        heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":20});
        map.addOverlay(heatmapOverlay);
        heatmapOverlay.setDataSet({data:aAllPoints,max:100});
        setInterval( function draw() {
          var w2 = new Worker( "{{url_for('static',filename='js/changePoints.js')}}");
          w2.postMessage( aAllPoints );
          w2.onmessage = function ( ev ) {
            var aAllPoints = ev.data;
            
            map.addOverlay(heatmapOverlay);
            heatmapOverlay.setDataSet({data:aAllPoints,max:100});
            
            w2.terminate();
          }          
        }, 1000);
      }
    }
      
    
    /* 添加覆盖物 */
    function addOverlay(lng,lat) {
      /* 如果是一组数据，把它添加到热力图上 */
      if (Array.isArray(arguments[0])) {
        addHeatmapOverlay(aAllPoints);
      }else {/* 如果是单个点， 就把它设置为中心*/
        var point = new BMap.Point(lng,lat);            
        map.centerAndZoom(point,13); 
      }
    }
    
    /* 设置一组随机数据 */
    function getRandomHeatPoint(point) {
      map.centerAndZoom(point, 13);
      aPoints = [];
      var 
        bounds = map.getBounds(),//可视区域
        sw = bounds.getSouthWest(),//西南方向
        ne = bounds.getNorthEast(),//东北方向
        lngSpan = Math.abs(sw.lng - ne.lng),
        latSpan = Math.abs(sw.lat - ne.lat),
        pointObj = {}
      ;
      for (var i = 0; i < 50; i++) {
        pointObj = {
          lng : point.lng + lngSpan * ( Math.random() - 0.5 ) * 1,
          lat : point.lat + latSpan * ( Math.random() - 0.5 ) * 1,
          count : Math.ceil(Math.random() * 100)
        }
        aPoints.push(pointObj);
      }
      
    }

    // 添加信息窗口
    function addInfoWindow(marker, poi) {
        //pop弹窗标题
        var title = '<div style="font-weight:bold;color:#CE5521;font-size:14px">'+ poi.title + '</div>';
        //pop弹窗信息
        var html = [];
        html.push('<table cellspacing="0" style="table-layout:fixed;width:100%;font:12px arial,simsun,sans-serif"><tbody>');
        html.push('<tr>');
        html.push('<td style="vertical-align:top;line-height:16px;width:60px;white-space:nowrap;word-break:keep-all">检测车辆数:</td>');
        html.push('<td style="vertical-align:top;line-height:16px">' + poi.address + ' </td>');
        html.push('</tr>');
        html.push('<td style="vertical-align:top;line-height:16px;width:60px;white-space:nowrap;word-break:keep-all">超标车辆数:</td>');
        html.push('<td style="vertical-align:top;line-height:16px">' + poi.tel + ' </td>');
        html.push('</tr>');
        html.push('</tbody></table>');
        var infoWindow = new BMap.InfoWindow(html.join(""), { title: title, width: 200 });
        var openInfoWinFun = function () {
            marker.openInfoWindow(infoWindow);
        };
        marker.addEventListener("mouseover", openInfoWinFun);
        return openInfoWinFun;
    }

    //异步调用百度js
    function map_load() {
      //var load = document.createElement("script");
      // 实时路况
      //src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js";
      //load.src = "http://api.map.baidu.com/api?v=2.0&ak=E6YEqa4ZaeQk3qjjTTxUI4N2fnvMjscd&callback=map_init";
      // load.src = "http://api.map.baidu.com/api?v=1.4&callback=map_init";
      //document.body.appendChild(load);
      map_init();
    }
    
    return { 
      map_load: map_load,
      map_init: map_init,
      searchWatchPoint: searchWatchPoint
    }
  }())
</script>
{% endblock %}